In [1]:
import pandas as pd

# DATE-TIME-INDEX

In [6]:
df =pd.read_csv('C:\\Users\\Nikhil Gupta\\ML_Pandas\\Top-10-IT-Companies-in-India.csv',parse_dates = ['Date'])
df

C:\Users\Nikhil Gupta\AppData\Local\Temp\ipykernel_7532\1156716181.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df =pd.read_csv('C:\\Users\\Nikhil Gupta\\ML_Pandas\\Top-10-IT-Companies-in-India.csv',parse_dates = ['Date'])

        Date  Number Top 10 IT Companies in India  Time
0 2003-01-02       1                          TCS     8
1 2003-01-02       2                      Infosys     9
2 2003-01-02       3                Tech Mahindra    12
3 1993-03-29       4                        Wipro    34
4 2003-01-02       5             HCL Technologies     5
5 2000-02-20       6                 L&T Infotech     5
6 2007-12-12       7                     Mindtree     6
7 1980-06-07       8                      Mphasis     9
8 1999-01-31       9    Oracle Financial Services     7
9 1997-03-05      10                  Rotla India     2

In [7]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp