In [1]:
import pandas as pd

# Join

In [2]:
df1 =pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df2 =pd.DataFrame({'C':[10,20,30,50],'D':[51,61,71,81]})
df1.join(df2)

   A  B   C   D
0  1  5  10  51
1  2  6  20  61
2  3  7  30  71
3  4  8  50  81

In [3]:
df1 =pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df2 =pd.DataFrame({'C':[10,20],'D':[51,61]})
df1.join(df2)

   A  B     C     D
0  1  5  10.0  51.0
1  2  6  20.0  61.0
2  3  7   NaN   NaN
3  4  8   NaN   NaN

In [4]:
df1 =pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df2 =pd.DataFrame({'C':[10,20],'D':[51,61]})
df2.join(df1)

    C   D  A  B
0  10  51  1  5
1  20  61  2  6

In [5]:
df2.join(df1,how ='left')

    C   D  A  B
0  10  51  1  5
1  20  61  2  6

In [6]:
df2.join(df1,how ='right')

      C     D  A  B
0  10.0  51.0  1  5
1  20.0  61.0  2  6
2   NaN   NaN  3  7
3   NaN   NaN  4  8

In [7]:
df2.join(df1,how ='outer')

      C     D  A  B
0  10.0  51.0  1  5
1  20.0  61.0  2  6
2   NaN   NaN  3  7
3   NaN   NaN  4  8

In [8]:
df2.join(df1,how ='inner')

    C   D  A  B
0  10  51  1  5
1  20  61  2  6

In [9]:
df2.join(df1,how ='inner',lsuffix ='_12')

    C   D  A  B
0  10  51  1  5
1  20  61  2  6

In [10]:
df1 =pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df2 =pd.DataFrame({'C':[10,20],'B':[51,61]})
df2.join(df1)

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

In [12]:
df1 =pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df2 =pd.DataFrame({'C':[10,20],'B':[51,61]})
df2.join(df1,how='inner',lsuffix ='1')

    C  B1  A  B
0  10  51  1  5
1  20  61  2  6

In [13]:
df1 =pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
df2 =pd.DataFrame({'C':[10,20],'B':[51,61]})
df2.join(df1,how='inner',lsuffix ='1',rsuffix ='2')

    C  B1  A  B2
0  10  51  1   5
1  20  61  2   6

In [14]:
df1.append(df2)

C:\Users\Nikhil Gupta\AppData\Local\Temp\ipykernel_9828\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

     A   B     C
0  1.0   5   NaN
1  2.0   6   NaN
2  3.0   7   NaN
3  4.0   8   NaN
0  NaN  51  10.0
1  NaN  61  20.0